*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction:column ;
    padding-inline: 80px;
}
header{ 
    height: 200px;
    background-color: white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}
main{
    flex-grow: 1;
    background-color: pink;
}
.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.destaque{
    width: 50%;
    background-color: rgb(181, 192, 192);
}
footer{
    height: 100px;
    background-color: white;
}
.logo{
    height: 96px;
    width: 96;
    background-color: white;
}
.conteudo h1{
    font-size: 96px;
}
.conteudo p{
    width: 80%;
    font-size: 48px;
}
.acao button{
    height: 80px;
    width: 400px;
    color: white;
    font-size: 32px;

}
.social{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 96px;
    width: 96px;
    background-color: lightgray;
    border: 60%;
}